.sidebar-classes {

	.view-bar {
		display: flex;
		height: 32px;

		.button {
			flex: 1 1 auto;
			// width: 40px;
			padding: 6px;
			background-color: $theme-menu-highlight;
			color: $theme-menu-text-dark; //lighten($silver, 15%);
			text-align: center;
			font-size: 20px;
			font-weight: 700;

			&:hover:not(.selected) {
				background-color: lighten($theme-menu-highlight, 10%);
			}

			&.selected {
				background-color: $midnight-blue;
				color: $theme-color;
			}
		}
	}

	.views {
		li {
			.average {
				display: block;
				float: left;
				width: 36px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				font-size: 16px;
				margin: -8px 8px -8px -16px;
				font-weight: 700;
				background-color: $theme-menu-highlight;
				// color: 
			}

			&.selected .average {
				background-color: $theme-color;
				color: $theme-light;
			}
		}
	}
	.gpa-panel {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 8px;
		background-color: $theme-menu-highlight;
		font-weight: 700;
		font-size: 16px;
		text-align: center;

		.gpa {
			font-weight: 300;
			color: $theme-color;

			&:before {
				content: 'GPA';
				font-size: 12px;
				color: $theme-menu-text-dark;
				font-weight: 700;
				margin-right: 8px;
			}
		}
	}
}

.content {
	@include scroll-pane;

	.message-empty {
		text-align: center;
		color: $theme-text-empty;
		font-size: 32px;
		font-weight: 100;
		width: 60%;
		margin: 64px auto;
		text-transform: lowercase;
	}

	.message-updated, .message-refresh {
		font-size: 16px;
		color: $theme-text-empty;
		font-style: italic;
		text-align: center;
		text-transform: lowercase;
		margin: 16px;
	}

	.card {
		margin: 16px;
		background-color: $theme-card;
		padding: 16px;

		.message-empty {
			margin: 32px auto;
		}

		h2 {
			margin: 0;
			font-weight: 100;
			font-size: 24px;
			letter-spacing: 1px;

			span {
				color: $theme-text-empty;

				&:before {
					content: '(';
				}
				&:after {
					content: '%)';
				}
			}
		}

		table {
			border-collapse: collapse;
			boder-spacing: none;
			margin-top: 16px;
			width: 100%;
			line-height: 1.5;

			th, tfoot td:first-child {
				font-weight: 700;
				text-transform: uppercase;
				color: $theme-text-med;
				letter-spacing: 1px;
				font-size: 12px;

				&:not(.grade) {
					text-align: left;
				}
			}

			td {

				&.grade {
					text-align: center;
				}
			}
			tfoot tr td {
				border-top: thin solid $theme-text-empty;
				font-weight: 700;
			}
		}
	}
}
