
@import '_variables.scss';

.login {
	flex: 0 0 auto;
	// width: 332px;
	display: flex;
	align-self: center;
	align-items: center;

	.logo {
		flex: 0 0 auto;
		margin-right: 2 * $gutter-width;
		text-align: center;

		i.fa {
			font-size: 128px;
			display: block;
			// width: 64px;
			height: 128px;
			color: $theme-color;
			// text-shadow: 0 2px $theme-complement-shadow;
			text-shadow: 0 2px rgba(0,0,0,0.2);
		}

		.message-welcome {
			display: block;
			font-size: 24px;
			margin-top: $gutter-width;
			color: $clouds;
			line-height: 1.2;
		}
	}

	.login-panel {
		// background-color: $theme-light;
		// padding: $gutter-width;
		position: relative;
		// box-shadow: 0 2px $theme-complement-shadow;
		// box-shadow: 0 2px rgba(0,0,0,0.2);
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: perspective(100px) translateZ(0px);
		opacity: 1;
		transition: transform 0.5s $ease-out-back, opacity 0.5s $ease-out-expo;

		.split-button-group {
			display: flex;
			flex: 0 0 auto;
			order: 1;
			// margin: (-$gutter-width) (-$gutter-width) $gutter-width (-$gutter-width);
			padding: $gutter-width $gutter-width 0 $gutter-width;
			// background-color: $theme-card-shadow;
			background-color: rgba(255,255,255,0.25);
			width: 100%;

			label {
				flex: 1 1 auto;

				&:hover span {
					color: $theme-color;
				}

				input[type="radio"] {
					display: none;

					&:disabled + span {
						color: $theme-light;
					}
					&:checked + span {
						background-color: $theme-light;
						color: $theme-text-dark;
					}
				}
				span {
					display: block;
					text-align: center;
					font-size: $font-size-base;
					font-weight: $font-weight-heavy;
					padding: 8px 12px;
					// background-color: $theme-light;
					outline: none;
					color: $theme-light;
				}
			}
		}

		.input-group {
			background-color: $theme-light;
			box-shadow: 0 2px rgba(0,0,0,0.15);
			padding: $gutter-width;
			position: relative;
			width: 100%;
			flex: 0 0 auto;
			order: 2;

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: -$gutter-width;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 0;
				height: 0;
				border-right: 16px solid $clouds;
				border-top: 16px solid transparent;
				border-bottom: 16px solid transparent;
			}

			& > label {
				display: block;
				position: relative;
				margin-bottom: 12px;

				input + i.fa {
					display: block;
					float: right;
					position: absolute;
					top: 8px;
					right: 12px;
					color: $theme-card-shadow;
					font-size: 1.5em;
				}
				input:focus + i.fa {
					color: $theme-complement;
				}
				input.invalid + i.fa {
					color: $pomegranate;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		input[type="text"], input[type="password"] {
			width: 100%;
			background-color: $theme-card;
			border: 2px solid $theme-card;
			font-size: $font-size-base;
			color: $theme-text-dark;
			font-weight: $font-weight-base;
			padding: 8px 36px 8px 12px;
			font-family: $font-stack;
			display: block;
			outline: none;

			&:disabled {
				background-color: $theme-light;
				border-color: $theme-card-shadow;
				color: $theme-card-shadow;
			}
			&:focus {
				border-color: $theme-complement;
			}
			&.invalid {
				border-color: $alizarin;
			}
		}
		button {
			flex: 0 0 auto;
			order: 3;
			display: block;
			font-size: $font-size-base;
			font-weight: $font-weight-base;
			padding: 12px 16px;
			border: none;
			background-color: $theme-color;
			opacity: 0.5;
			margin: 0;
			width: calc(100% - 8px);
			color: $clouds;
			outline: none;
			box-shadow: 0 2px rgba(0,0,0,0.15);
			transform: translateY(-16px);
			transition: transform 0.5s $ease-out-expo, opacity 0.5s $ease-out-expo;

			&:focus:not(:hover) {
				// background-color: $theme-light;
				// color: $theme-color;
				transform: translateY(0px);
				opacity: 0.8;
			}
			&:hover:not(:disabled) {
				transform: translateY(0px);
				opacity: 0.8;
			}
			&:active:not(:disabled) {
				background-color: $theme-shadow;
			}
			&:disabled {
				transform: translateY(-100%);
				// background-color: $theme-card;
				// color: $theme-complement;
				opacity: 0;
			}
		}
		a {
			color: lighten($theme-complement, 25%);
			display: block;
			text-align: center;
			outline: none;
			display: none;

			&:hover, &:focus {
				color: $theme-color;
			}
			&:active {
				color: $midnight-blue;
			}
		}

		&.busy {
			transform: perspective(100px) translateZ(-10px);
			opacity: 0.75;

			button {
				// transform: translateY(0px);
				// opacity: 0.8;
			}
		}
		&.error {
			animation-name: shake;
			animation-duration: 0.5s;
			animation-delay: 0.5s;
			animation-timing-function: linear;
		}
	}
}
