
// http://flatuicolors.com/
$turquoise: #1abc9c;
$green-sea: #16a085;

$emerald: #2ecc71;
$nephritis: #27ae60;

$petermann-river: #3498db;
$petermann-river-light: #5cade2; // lighten($petermann-river, 35%);
$petermann-river-dark: #2c81ba;
$belize-hole: #2980b9;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;

$sun-flower: #f1c40f;
$sun-flower-light: lighten($sun-flower, 25%);
$orange: #f39c12;

$carrot: #e67e22;
$pumpkin: #d35400;

$alizarin: #e74c3c;
$pomegranate: #c0392b;

$clouds: #ecf0f1;
$silver: #bdc3c7;

$concrete: #95a5a6;
$asbestos: #7f8c8d;

$header-height: 48px;
$sidebar-width: 192px;

$font-stack: 'Lato', 'Helvetica Neue', Helvetica;

$theme-light: $clouds;
$theme-color: $carrot;
$theme-complement: $turquoise;
$theme-complement-shadow: $green-sea;
$theme-highlight: $orange;
$theme-shadow: $pumpkin;
$theme-text-light: $clouds;
$theme-text-dark: $midnight-blue;
$theme-text-med: $concrete;
$theme-text-empty: $silver;
$theme-menu: $midnight-blue;
$theme-menu-highlight: $wet-asphalt;
$theme-menu-text-dark: $asbestos;
$theme-menu-text-light: $concrete;
$theme-card: #ffffff;
$theme-card-shadow: $silver;
