
header {
	height: $header-height;
	flex: 0 0 auto;
	background-color: $header-bg;
	display: flex;
	color: $header-text;

	h1 {
		flex: 0 0 auto;
		width: $sidebar-width;
		margin: 0;
		display: flex;
		line-height: $header-height;
		color: $header-logo;

		i {
			flex: 0 0 auto;
			width: $header-height;
			line-height: $header-height - $gutter-width;
			font-size: $header-height - $gutter-width;
			padding: $gutter-width / 2;
			text-align: center;
			display: block;
		}

		.app-name {
			flex: 1 1 auto;
		}
	}

	nav {
		flex: 1 1 auto;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			justify-content: flex-start;

			li {
				flex: 0 0 auto;

				&:hover:not(.selected) {
					background-color: $header-highlight-bg;
					color: $header-highlight-text;
				}
				&:active i {
					transform: scale(0.9);
				}

				&.selected {
					background-color: $header-selected-bg;
					color: $header-selected-text;
				}
				a:link, a:visited {
					display: block;
					width: $header-height;
					font-size: $header-icon-size;
					line-height: $header-height;
					text-align: center;
					color: inherit;
				}
			}
		}
	}
	.menu {
		// flex: 1 1 auto;
		font-size: $font-size-base;
		// text-align: right;
		display: flex;

		&:hover ul {
			top: $header-height;
		}

		& > i {
			flex: 0 1 auto;
			width: $header-height;
			line-height: $header-height;
			// padding: 8px;
			text-align: center;
		}

		ul {
			flex: 0 1 auto;
			top: $header-height - $gutter-width;

			li {

				i {
					color: $menu-icon;
					margin-right: 4px;
				}

				a {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}

	.student-panel {
		flex: 0 1 auto;
		.student {
			text-align: right;
			padding: 0 0 0 $gutter-width;
			line-height: $header-height;
		}
		ul {
			width: 100%;
			// top: $header-height + 16px;
		}
	}
	.more-panel {
		flex: 0 1 auto;

		& > i {
			font-size: $header-icon-size;
		}

		ul {
			width: 3 / 4 * $sidebar-width;
		}
	}
}
