
@import "_variables";

#controls {
	margin: 32px 0;
	font-size: 32px;
	text-align: center;
	cursor: default;

	i {
		display: inline-block;
		cursor: pointer;
		border-radius: 32px;
		padding: 4px;
		// width: 32px;
		// height: 32px;
		border: 2px solid transparent;
		transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);

		&:hover {
			// border-color: $clouds;
			transform: scale(1.5);
		}

		&.active {
			border-color: $clouds;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}
